# RewriteEngine On
#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.+)$ index.php [QSA,L]
#RewriteCond "%{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$"
# RewriteRule "(.*) index.php [QSA,L]"

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteRule ^ index.php [L]
</IfModule>
