/* VARS */
:root {
  --color-primary-blue: #a7c3ca;
  --color-primary-pink: #f8cdc7;
  --btn-color-hover-active-pink: #c4a29e;
  --btn-danger: red;
  --btn-danger-hover-active: rgb(124, 15, 15);
  --color-notif-background: rgb(243, 188, 245);
  --color-notif-delete-background: rgb(178, 19, 19);
  --color-notif-change-background: rgb(208, 106, 38);
  --color-notif-text: #202020;
}

/* GLOBAL CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}


section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-primary-blue);
}

h1 {
  font-size: 5em;
  margin-top: 4vh;
  color: var(--color-primary-pink);
}

@media only screen and (max-height: 750px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  position: absolute;
  top: 3px;
  left: 7px;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 202px;
  width: 100%;
  background: transparent;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.nav-une {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
}

.profile-name {
  color: var(--color-primary-blue);
}

.bold-name {
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2em;
  height: 3em;
  width: 7em;
  background-color: #fff;
  filter: drop-shadow(0 0 20px #616161);
}

.header-logo {
  height: 202px;
  margin: 0 50px;
}

.bjr-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  color: var(--color-primary-blue);
}

.user-user {
  font-size: 2.5em;
  font-weight: bold;
}

.vertical {
  border-left: 2px solid black;
  height: auto;
  display: inline-block;
  margin: 0 15px;
}

.horizental {
  border-top: 0.5px solid black;
  width: auto;
  display: inline-block;
  margin: 15px 0;
}

.cart-icone {
  height: 30px;
  width: 30px;
}

.hidden {
  display: none;
}

.notification {
  position: absolute;
}



.displayFlex {
  display: flex;
}

.show {
  top: 2rem;
}

/* .blur {
  z-index: 100;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.251);
  -webkit-backdrop-filter: blur(1px) contrast(0.9) brightness(0.9);
  backdrop-filter: blur(1px) contrast(0.9) brightness(0.9);
  transition: all 2s;

  opacity: 1;
} */

.displayVisible {
  visibility: visible;
}

.show-cart {
  border: none;
  border-radius: 2em;
  width: 150px;
  height: 50px;
  background-color: var(--color-primary-pink);

  transition: 0.3s all linear;
  cursor: pointer;
}

.show-cart:hover {
  background-color: var(--btn-color-hover-active-pink);
}

.show-cart:active {
  background-color: var(--btn-color-hover-active-pink);
}

.show-cart-menu {
  border: none;
  border-radius: 2em;
  width: 100px;
  height: 25px;
  background-color: var(--color-primary-pink);

  transition: 0.3s all linear;
  cursor: pointer;
}

.show-cart-menu:hover {
  background-color: var(--btn-color-hover-active-pink);
}

.show-cart-menu:active {
  background-color: var(--btn-color-hover-active-pink);
}

.small-header {
  visibility: hidden;
  z-index: 4;
}

.large-header {
  z-index: 4;
}

@media only screen and (max-width: 1100px) {
  .large-header {
    visibility: hidden;
  }

  .small-header {
    visibility: visible;
  }
}

.menu-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: #4e4e4e4d;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 1em;
  transition: ease all 0.4s;
}

.menu-box {
  height: 250px;
  width: 170px;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  filter: drop-shadow(0 0 30px #616161);
}

.menu-list {
  flex-direction: column;
}

.account-name {
  font-weight: bold;
  color: var(--color-primary-blue);
  font-size: 1.5em;
  align-self: center;
  margin: 0.2em 0;
}

.menu-list-item {
  margin: .2em 0;
}

.close-menu-btn {
  outline: none;
  border: none;
  color: var(--color-primary-pink);
  cursor: pointer;
  align-self: end;
}

.show-menu-btn {
  outline: var(--color-primary-pink) 2px solid;
  border: none;
  color: var(--color-primary-pink);
  cursor: pointer;
  background-color: transparent;
  height: 2em;
  width: 4em;
  border-radius: 1em;
  transition: all 0.3s ease;
}

.show-menu-btn:hover {
  color: white;
  outline: white;
  background-color: var(--color-primary-pink);
}

.show-menu-btn:active {
  color: white;
  outline: white;
  background-color: var(--color-primary-pink);
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-link li,
.socials li {
  margin: 10px;
}

.socials li img {
  width: 20px;
}

/* HOMEPAGE */
.mask {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background-image: url('./assets/img/homepagepres/mainvisual01.jpg');
  background-origin: border-box;
  background-size: cover;
}

.hp-ad {
  position: absolute;
  height: 20vh;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.arrow-down {
  position: absolute;
  bottom: 1vh;
}

.arrow-down img {
  height: 40px;
  filter: invert(81%) sepia(30%) saturate(216%) hue-rotate(318deg) brightness(100%) contrast(95%);
}

/* ABOUT */
.about-item {
  display: flex;
  flex-direction: row;
}

.about-item-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.picture-wrapper {
  align-items: center;
}

.isp {
  margin-bottom: 1em;
}

.isp span {
  font-weight: bold;
}

.info-store-title {
  font-size: 3em;
}

.info-store-description {
  width: 400px;
}

.footer-footer {
  position: relative;
}

.about-store-image {
  width: 70%;
}

@media only screen and (max-width: 910px) {
  .about-item {
    flex-direction: column;
  }

  .about-store-image {
    width: 100%;
  }

  .about-item-wrapper {
    padding: 0 !important;
  }

  .info-store-description {
    width: 100%;
  }

  .info-store-title {
    width: 100%;
    font-size: 2em;
  }
}

/* PRODUCTS */
.list-section {
  padding: 202px 0;
  height: 100%;
}

/* MODAL */
.modal {
  display: flex;
  z-index: 5;
  overflow: auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  max-height: 500px;
  width: 500px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-pink);
  /* border: 2px solid black; */
  /* column-gap: 10px; */
  border-radius: 25px;
  padding-top: 2%;
  transition: display 2s linear 1s;
  padding-bottom: 2%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.395);
  align-content: flex-start;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-cart-container {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  background-color: #4e4e4e4d;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 1em;
  transition: ease all 0.4s;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 50px;
}

.modal-header h3 {
  margin-bottom: 1em;
}

.close {
  position: absolute;
  color: black;
  top: -.7em;
  right: .5em;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body-contain {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
  padding: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}

.item-container-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.quantity {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-top: 2em;
}

.contain-quantity{
  width: 20%;
  text-align: center;
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
 .quantity-sector {
display: flex;
   align-items: baseline;
   margin-bottom: 2vh;
}
.item-price {
  text-align: end;
}

.delete-contain {
  background-color: var(--btn-danger);
  /* Green */
  border: none;
  border-radius: 2em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all .3s linear;
}

.change-quantity{
  background-color: cadetblue;
  cursor: pointer;
  /* Green */
  border: none;
  border-radius: 2em;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all .3s linear;
  float: right;
}
.change-quantity:hover{
  background-color: #476b6c;

}

.delete-contain:hover {
  background-color: var(--btn-danger-hover-active);
}

.delete-contain:active {
  background-color: var(--btn-danger-hover-active);
}

.modal-body .checkout {
  border: none;
  background-color: white;
  height: 2%;
  border-radius: 2em;
  color: black;
  transition: all .3s linear;
  padding: 5px 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.modal-body .checkout:hover {
  cursor: pointer;
  color: var(--color-primary-blue);
}

/* MODAL AJOUT ADD PRODUIT AU PANIER */
.modal-addproduct-container {
  height: 100%;
  width: 100vw;
  z-index: 10;
  position: fixed;
  background-color: #4e4e4e4d;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 1em;
  transition: ease all 0.4s;
}

.modal-add-product {
  height: 22vh;
}

.modal-add-product .modal-header {
  font-weight: bold;

}

.modal-add-product .modal-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}

.modal-add-product div.quantity {
  padding-bottom: 0.5em;
  width: 30%;
  align-items: center;
  flex-wrap: wrap;
}

button.add-product-action {
  border: none;
  width: auto;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-align: center;
  background-color: var(--color-primary-blue);
  /* color: #000; */
}

button.add-product-action:hover {
  background-color: #75959d;
  color: #000;
  cursor: pointer;
  transition: ease all 0.4s;

}

button.cancel {
  border: none;
  width: auto;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-align: center;
  background-color: var(--color-primary-blue);
  /* color: #000; */
}

button.cancel:hover {
  cursor: pointer;
  background-color: #901103;
  color: #000;
  transition: ease all 0.4s;

}

#btn-more,
#btn-less {
  border-radius: 2em;
  width: auto;
  background-color: var(--color-primary-blue);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.1em;
  font-weight: bold;
  font-size: 20px;
  margin-left: 2px;
}

#btn-more:hover,
#btn-less:hover {
  background-color: white;
  color: var(--color-primary-blue);
  transition: ease all 0.4s;

}

@media only screen and (max-width: 400px) {
  .modal-add-product {
    width: 300px;
    height: auto;
  }
}

/* LOGIN & REGISTER */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2em;

  width: 600px;
  height: 500px;

  padding: 1em;

  background-color: var(--color-primary-pink);
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 300px;
    height: auto;
  }
}

/* PRODUCTS LIST */
.titre {
  color: indianred;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
  margin: 40px 40px 40px 40px;
  /* text-align: center; */
  font-family: arial, Serif;
  border-radius: 2em;
}

.product-image {
  height: 50%;
}

.product-image img {
  border-radius: 2em 2em 0 0;
  /* height: 100% !important; */
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.product-info {
  height: 50%;
  background-color: white;
  padding: 1em;
}

.add-product {
  border-radius: 0 0 2rem 2rem;
}

.head-product-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.7em;
  font-weight: bold;
}

.product-card-price {
  font-size: 1.3em;
  font-weight: bold;
  color: #adacad;
}

@media only screen and (max-width: 1160px) {
  #pageDown {
    height: auto;
  }

  .presentation-3-produits {
    margin: 2em 0 2em 0;
  }
}

[class^="page"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px 100px 100px;

}

#navigation {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  width: 100px;
}

.hidden {
  display: none
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: var(--color-primary-blue);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: linear all 0.2s;
}

.card button:hover {
  background-color: #69878f;
}

.notification-add-product {
  z-index: 9999;
  position: fixed;
  top: -8rem;
  color: var(--color-notif-text);
  background: var(--color-notif-background);
  padding: 1.2rem 2.4rem;
  border-radius: 0.2rem;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.notification-delete-product {
  z-index: 9999;
  position: fixed;
  top: -8rem;
  color: white;
  background: var(--color-notif-delete-background);
  padding: 1.2rem 2.4rem;
  border-radius: 0.2rem;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.notification-change-quantity {
  z-index: 9999;
  position: fixed;
  top: -8rem;
  color: white;
  background: var(--color-notif-change-background);
  padding: 1.2rem 2.4rem;
  border-radius: 0.2rem;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.show {
  top: 2rem;
}

.presentation-3-produits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

/* ADMIN */
/* INDEX ADMIN */
.admin-list-wrapper {
  width: 250px;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.list-admin {
  flex-direction: column;
}

.list-admin-item {
  margin: 5px 0;
}

/* ANTOINE STORE MANAGMENT */
.store-logo {
  height: 202px;
}

.store-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-title {
  font-size: 2em;
  margin-top: 0;
}

.store-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 20vh;
  margin-bottom: 5vh;
}

.store-edit-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.store-edit {
  width: 35vw;
  height: 65vh;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  margin: 0 2em;
}

@media only screen and (max-width: 600px) {
  .store-page {
    height: auto;
  }

  .store-edit-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .store-edit {
    width: 90vw;
    height: auto;
    margin-top: 2em;
  }
}

.store-add-wrapper {
  width: 90vw;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .store-add-wrapper {
    width: 90vw;
  }
}

.text-crud {
  color: white;
  text-decoration: none;
}

.crud-btn {
  margin-bottom: .5em;
}

.overflowauto {
  overflow-x: auto;
}

/*USER MANAGEMENT TRISTAN*/
.user-logo {
  height: 202px;
}

.user-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-title {
  font-size: 2em;
  margin-top: 0;
}

.user-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 20vh;
  margin-bottom: 5vh;
}

.user-edit-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-edit {
  width: 60vw;
  height: 65vh;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  margin: 0 2em;
}

@media only screen and (max-width: 600px) {
  .user-page {
    height: auto;
  }

  .user-edit-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .user-edit {
    width: 90vw;
    height: auto;
    margin-top: 2em;
  }
}

.user-add-wrapper {
  width: 90vw;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .user-add-wrapper {
    width: 90vw;
  }
}

.trashed_user {
  color: gray;
  text-decoration-line: line-through;
  text-decoration-color: darkred;
}

/* ALEX SCHEDULE MANAGMENT */
.schedule-edit {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  margin: 2em 2em;
}

.jour {
  display: flex;
  flex-flow: column;
  margin: 1em 2em;
}

.horraires {
  display: flex;
  flex-flow: row;
}

/*PRODUCT MANAGEMENT LEANDRE*/
.product-logo {
  height: 202px;
}

.product-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 2em;
  margin-top: 0;
}

.product-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 20vh;
  margin-bottom: 5vh;
}

.product-edit-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-edit {
  width: 35vw;
  height: 70vh;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  margin: 0 2em;
  object-fit: contain;
  overflow: auto;
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 55vh;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
  margin: 0 2em;
  object-fit: contain;
}

.product-display img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .product-page {
    height: auto;
  }

  .product-edit-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .product-display {
    width: 90vw;
    height: auto;
    margin-top: 2em;
  }
}

.product-add-wrapper {
  width: 90vw;
  background-color: var(--color-primary-pink);
  border-radius: 2em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .product-add-wrapper {
    width: 90vw;
  }
}

.overflowauto {
  overflow-x: auto;
}

/* CHECKOUT */

.checkout-section {
  height: auto;
  padding-top: 30vh;
}

.checkout-section footer {
  position: relative;
}

.active-cart {
  display: flex;
  flex-flow: column;
  padding: 2em;
  background-color: var(--color-primary-pink);
  border-radius: 25px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 40%);
  overflow: auto;
}

.active-cart p {
  font-size: large;
  padding: 1vh;
}

.active-cart input {
  width: 20%;
  text-align: center;
  margin-bottom: 1vh;
}

.active-cart img {
  width: 202px;
  height: 202px;
}

.active-cart .btn-update {
  border: none;
  width: auto;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-align: center;
  background-color: #c4a29e;
  color: #000;
  margin-bottom: 0.5vh;
}

.active-cart .btn-delete {
  border: none;
  width: auto;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-align: center;
  background-color: #901103;
  color: #000;
}

.active-cart .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-actions {
  display: flex;
  flex-direction: column;
}

.product-quantity {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.product-delete {
  display: flex;
  flex-direction: row-reverse;
}

.checkout {
  margin-top: 2vh;
  width: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-div {
  margin-bottom: 20vh;
}


.checkout a {
  display: block;
  padding: 2%;
  text-align: center;
  color: white;
  background-color: var(--color-primary-blue);
  border: none;
  width: auto;
  border-radius: 20px;
  object-fit: contain;
}

.checkout a:hover {
  background-color: var(--btn-color-hover-active-pink);
  color: white;
  transition: 0.5s;
}

.payment-success {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 80vw;
  object-fit: contain;
}

.payment-success img {
  height: 250px;
  width: 250px;
  object-fit: contain;

}

h3.valid-transaction {
  font-size: xx-large;
  padding-bottom: 1.5vh;
  color: var(--color-primary-blue);

}


p.valid-transaction {
  padding: 0.3vh;

}

#btn-next {
  outline: none;
  border: none;
  background-color: var(--color-primary-blue);
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: all linear 0.2s;
}

#btn-next:hover {
  background-color: #75959d;
}

#btn-next:active {
  background-color: #75959d;
}

#btn-prev {
  outline: none;
  border: none;
  background-color: var(--color-primary-blue);
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: all linear 0.2s;
}

#btn-prev:hover {
  background-color: #75959d;
}

#btn-prev:active {
  background-color: #75959d;
}