.modal {
    z-index: 5;
    overflow: auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    height: 500px;
    width: 500px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 199, 199);
    /* border: 2px solid black; */
    /* column-gap: 10px; */
    border-radius: 25px;
    padding-top: 2%;
    transition: display 2s linear 1s;
    padding-bottom: 2%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.395);
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
}

.close {
    position: absolute;
    color: black;
    top: -.7em;
    right: .5em;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body-contain {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.item-container {
    display: flex;
    flex-direction: column;
}
.item-container-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .quantity-sector {
    
} */

.item-price {
    text-align: end;
}

.delete-contain {
    background-color: red; /* Green */
    border: none;
    border-radius: 2em;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .3s linear;
}
.delete-contain:hover {
    background-color: rgb(124, 15, 15);
}
.delete-contain:active {
    background-color: rgb(124, 15, 15);
}