* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

.main-section-background {
  background-image: url(../../assets/homepagepres/mainvisual01.jpg);
  background-size: cover;
}