* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 202px;
  width: 100%;
  background: transparent;
}

a {
  text-decoration: none;
  color: #a7c3ca;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
}

.profile-name {
  color: #a7c3ca;
}

.bold-name {
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2em;
  height: 3em;
  width: 7em;
  background-color: #fff;
  filter: drop-shadow(0 0 20px #616161);
}

header img {
  height: 202px;
  margin: 0 50px;
}

.cart-icone {
  height: 40px;
  width: 40px;
}

.hidden {
  display: none;
}

.notification-del-contain {
  position: fixed;
  top: -8rem;
  color: #ff4754;
  background: #000;
  padding: 1.2rem 2.4rem;
  border-radius: 0.2rem;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.show {
  top: 2rem;
}